*.iml
**/target
**/node_modules
**/test.sql
.idea
package-lock.json
**/dist
.classpath
.factorypath
.vscode
.settings
.project
application-wt1hd.properties
application-demo.properties
import_waitan.sql
